* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white: #ffffff;
  --black: #000000;
  --bcg-primary: #1a1a1a;
  --bcg-blocks: #333333;
  --border-crl: #5a5a5a;

  --button-primary: #1e6f9f;
  --blue: #4ea8de;
  --purple-dark: #5e60ce;
  --purple: #8284fa;

  --block-primary: #262626;

  --fz-small: 16px;
  --fz-medium: 20px;
  --fz-huge: 22px;
}

body {
  background-color: var(--bcg-primary);
  color: var(--white);
}

.container {
  width: 100%;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
